<div class="container-fluid">
    <div class="row">
        <header class="bg-dark text-white p-3">
        <h1>Bienvenidos al Ecommerce</h1> 
         </header>
    </div>
</div>
<body>
    <h1>Lista de Productos</h1>
    <ul class="product-list" id="product-list">
    
    </ul>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/index.js"></script>
</body>
</html>

