<div class="container-fluid">
        <div class="row">
            <header class="bg-dark text-white p-3">
                <h1>Bienvenidos al Ecommerce</h1> 
            </header>
        </div>
    </div>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-sm-8 col-md-6 col-lg-4"> 
                <h2 class="text-center pb-4">Registro</h2>
                <form action="/register" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="first_name">First Name:</label>
                        <input type="text" class="form-control" id="first_name" name="first_name" required>
                    </div>
                    <div class="form-group">
                        <label for="last_name">Last Name:</label>
                        <input type="text" class="form-control" id="last_name" name="last_name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="age">Age:</label>
                        <input type="number" class="form-control" id="age" name="age" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="form-group">
                        <label for="profile_image">Profile Image:</label>
                        <input type="file" class="form-control" id="profileImage" name="profileImage" accept="image/*">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block mt-2">Registro</button>
                </form>
                <p class="text-center mt-3">Ya estás registrado? <a href="/login" class="btn btn-link">Login</a></p>
            </div>
        </div>
    </div>
</body>
</html>
